#development
BASE_URL=https://test-api.nullcast.dev
CLIENT_URL=https://test-app.nullcast.dev
EDITOR_URL=https://test-editor.nullcast.dev
BUCKET_URL=https://n8o9asugsb.execute-api.us-east-1.amazonaws.com
SERVER_URL=http://test-api.nullcast.dev