#development
BASE_URL = "https://api.nullcast.io"
SERVER_URL = "https://api.nullcast.io"
CLIENT_URL = "http://localhost:3000"
EDITOR_URL="http://localhost:4200"
GENERATE_SOURCEMAP = false
BUCKET_URL = "XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX"