.path {

    @apply py-48 text-white relative;
    background: #0E181E url("../../../public/images/bgarrow.svg") repeat-y center top;

    &:before {

        @apply absolute left-0 top-0 h-1/2 w-full;
        background: #0E181E;
        content: '';
        transform-origin: 0 100%;
        transform: skewY(-4deg);
        z-index: -1;
    }

    .row:nth-child(even) {
        @apply md:flex-row-reverse md:text-right;
        .image {
            @apply justify-start;
        }
        .svgpath {
            transform: scaleX(-1);
        }
    }

    h3 {

        @apply font-darker font-extrabold text-5xl xl:text-64 mb-8;

    }

    p {

        @apply text-18 leading-loose;

    }


}

.row {

    @apply md:flex items-center flex-wrap md:-my-4;

    img {

        @apply ml-auto;
    }

    .svgpath {
        width: 100%;
        @apply w-full;
    }
}

.image {

    @apply w-4/12 flex justify-end;

}