.path {

    @apply py-10 xl:py-32 2xl:py-48 bg-dark text-white relative;
    background-image: url("../../../public/images/bgarrow.svg");
    background-repeat: repeat-y;
    background-position: center top;

    &:before {

        @apply absolute bg-dark left-0 top-0 h-1/2 w-full;
        content: '';
        transform-origin: 0 100%;
        transform: skewY(-4deg);
        z-index: -1;
    }

    .row:nth-child(even) {
        @apply md:flex-row-reverse md:text-right;
        .image {
            @apply justify-start;
        }
        .svgpath {
            transform: scaleX(-1);
        }
    }

    h3 {

        @apply font-darker font-extrabold text-3xl xl:text-64 mb-5 md:mb-8;

    }

    p {

        @apply text-18 leading-loose;

    }


}

.row {

    @apply flex flex-col-reverse md:flex-row items-center flex-wrap mb-14 md:-my-4 text-center md:text-left;

    img {

        @apply ml-auto;
    }

    .svgpath {
        @apply w-full hidden md:block;
    }
}

.image {

    @apply w-4/12 flex justify-end py-5;
    max-width: 80px;
    max-height: 160px;
}