
 .listing__item {
    @apply mb-14 md:mb-10 flex flex-col;
    &:hover {
        .listing__figure {
            img {
                transform: scale(1.05);
            }
        }
    }
    h3 {
        @apply text-xl font-bold mb-3;
    }
    p{ 
        @apply mb-3;
    }
    [class*="authorDetails"] {
        @apply mt-auto;
    }
 }

 .listing__figure {
     @apply overflow-hidden mb-4;
    border: 1px solid #D8D8D8;
    border-radius: 6px;

    img {

        transition: all ease .3s;
        height: 370px;
        object-fit: cover;

        @media (max-width: 767px) {
            height: 300px;
        }

    }
}