.section {
    @apply pt-10 lg:pt-12;
    figure {
        @apply mb-5 md:mb-0;
    }
    [class*="icon"] {
        @screen xl {
            max-width: 70px;
            max-height: 70px;
        }
    }
    circle {
        stroke-width: 2px;
    }
}

.text {

    h3 {
        @apply text-24 font-bold mb-5;
    }

    p {
        @apply text-15 mb-5;
    }

    .tags {
        @apply mb-10;
    }
    .time {
        @apply font-bold;
        color: #717171;
        span {
            @apply inline-block mr-5;
        }
    }
}