
.blogList {
    @apply md:grid pt-24 lg:pt-36 gap-20 gap-y-16 lg:gap-x-28 2xl:gap-32 grid-cols-2;

}

.blogImage {
    @apply relative mb-5;

    &:before {
        @apply h-full absolute pointer-events-none;
        content: '';
        background: #A8EAF5;
        left: -22.73%;
        z-index: -1;
        top: -7.85%;
        width: 115.34%;
    }

    img {
        transform-origin: bottom left;
        transition: all ease .3s;
        @screen md {
            height: 320px;
            object-fit: cover;
        }
        @screen lg {
            height: 450px;
        }
        @screen xl {
            height: 468px;
        }
    }

    div {
        overflow: visible !important;
    }
    
}

.blogItem {

    @apply mb-20 md:mb-10 xl:mb-16;
    
    &:nth-child(even) {
        figure {
            &:before {
                background: #F92304;
            }
        }
    }

    h3 {
        @apply text-2xl 2xl:text-32 font-bold underline text-gray-01 leading-tight mb-6;

        a {
            @apply text-gray-01;
        }

    }

    &:hover {
        .blogImage {
            img {
                transform: rotate(-3deg);
            }
        }
    }
}

@screen md {

    .blogList {
        padding-left: 9.3%;
    }


    .blogItem {
        
        &:nth-child(even) {
            figure {
                &:before {
                    left: -10.98%;
                    top: -12.96%;
                    width: 101.7%;
                    height: 106.02%;
                }
            }
        }

    }

}