
a, button {
    -webkit-tap-highlight-color: transparent;
    transition: all ease .3s;

    &:focus {
        @apply outline-none;
    }
}
input {
    &:focus {
        outline: none;
    }
}


// Button component with style variations

.btn {
    --shadowcolor: #202020;
    @apply inline-block bg-pink rounded-10 text-white px-10 lg:px-20 py-5 lg:py-7 text-lg md:text-xl xl:text-3xl font-extrabold uppercase relative overflow-hidden leading-tight xl:leading-6;
    border: 1px solid #1C1C1D;
    box-shadow: 0px 4px 0px var(--shadowcolor);

    &:before {
        @apply absolute top-0 h-full;
        transition: all ease .5s;
        background: linear-gradient(100deg,  #FDB500 60%, transparent);
        content: '';
        left: -200%;
        width: 200%;
    }

    &:hover {
        &:before {
            @apply left-0;
        }
    }

    &--subscribe {
        @apply py-4 px-6 lg:px-14;
    }

    &__text {
        @apply relative;
    }

    &--black, &--blackborder {
        --shadowcolor:transparent;
        @apply 
            inline-block relative bg-black flex items-center justify-center 
            text-white px-3 2xl:px-6 py-2 mx-3  capitalize font-semibold leading-tight 2xl:leading-normal 
            border border-black ;
        font-size: 14px;
        border-radius: 1px;
    }

    &--blackborder {
        @apply text-black;
        background: transparent;

    }

    &--purple {
        background: #8032ED;
        @apply py-4 text-18;
    }

    &--small {
        @apply text-xl px-10 py-3;
    }

    &__arrow {
        @apply ml-2 relative;
    }

}

.cta {
    position: relative;
    z-index: 9;
}

.container {
    
    @apply mx-auto px-3 md:px-4;
    
    &--small {
        max-width: 1150px;
    }
    
}

.sectionHeader {
    
    @apply md:flex justify-between items-center text-center md:text-right;

    &__title {
        @apply font-darker text-gray-01 font-extrabold leading-none text-4xl lg:text-5xl xl:text-64 mb-10 md:mb-0;
    }

    &__description {
        @apply font-medium lg:font-bold text-18 md:w-7/12 lg:w-1/2;
    }

}


.authorDetails {
    @apply flex items-center;

    &__icon {
        @apply mr-5 rounded-full overflow-hidden;
    }

    &__title {
        @apply text-xl lg:text-25 font-extrabold mb-1;
    }

    &__position {
        @apply text-xl;
        color: #717171;
    }

    &__points {
        @apply font-bold text-18 ml-3 flex items-center;
        color: #F92304;
    }

    svg {
        @apply mr-2;
    }
}