
a, button {
    -webkit-tap-highlight-color: transparent;
    transition: all ease .3s;
    outline: none;
    &:focus, &:active {
        outline: none;
    }
}
input {
    &:focus {
        outline: none;
    }
}
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active
{
 background: transparent;
}
body.menuOpen {
    @media (max-width: 991px) {
        overflow: hidden;
    }
}
// Button component with style variations

.linkUnderline {
    background-image: linear-gradient(#8DA1A1, #8DA1A1);
    background-position: 0 100%;
    background-repeat: no-repeat;
    background-size: 100% 1px;
    transition: all ease .4s;
}
.btn {
    --shadowcolor: #202020;
    @apply inline-block bg-pink rounded-10 text-white px-6 md:px-10 py-5 2xl:py-7 text-lg md:text-xl xl:text-2xl 2xl:text-3xl font-extrabold uppercase relative overflow-hidden leading-tight xl:leading-6;
    border: 1px solid #1C1C1D;
    box-shadow: 0px 4px 0px var(--shadowcolor);

    &:before {
        @apply absolute top-0 h-full;
        transition: all ease .5s;
        background: linear-gradient(100deg,  #FDB500 60%, transparent);
        content: '';
        left: -200%;
        width: 200%;
    }

    &:hover {
        &:before {
            @apply left-0;
            @media (hover:none) {
                left: -200%;
            }
        }
    }

    &--subscribe {
        @apply p-3 sm:py-4 sm:px-6 lg:px-14;
    }

    &__text {
        @apply relative;
    }

    &--black, &--blackborder {
        --shadowcolor:transparent;
        @apply 
            inline-block relative bg-black inline-flex items-center justify-center 
            text-white px-3 2xl:px-6 py-2 mx-3  capitalize font-semibold leading-tight 2xl:leading-normal 
            border border-black ;
        font-size: 14px;
        border-radius: 1px;

        &:before {
            display: none;
        }
        .btn__text {
            // @apply linkUnderline;
            // background-image: linear-gradient(#fff, #fff);
            // background-size: 0 1px;
        }
        &:hover {
            .btn__text {
                // background-size: 40px 1px;
            }
        }
    }

    svg {
        transition: all ease .3s;
    }

    &--blackborder {
        @apply text-black;
        background: transparent;
        .btn__text {
            // background-image: linear-gradient(#000, #000);
        }
    }
    &--black {
        &:hover {
            @apply bg-white text-black;
            svg {
                fill: #000;
            }
        }
    }

    &--purple {
        background: #8032ED;
        @apply py-4 text-18;
    }

    &--gray {
        background: #EDEDED;
        color: #F13E5D;
    }

    &--small {
        @apply text-xl px-10 py-3;
    }

    &--whiteBorder {
        --shadowcolor:transparent;
        @apply bg-transparent border border-white;
        border-radius: 2px;
        @media (max-width: 1023px) {
            @apply px-7 py-4;
        }
        .btn__text {
            @apply linkUnderline;
            background-image: linear-gradient(#fff, #fff);
            background-size: 0 1px;
        }
        &:hover {
            .btn__text {
                background-size: 40px 1px;
            }
        }
    }

    &__arrow {
        @apply ml-2 relative;
    }

}

.cta {
    position: relative;
    z-index: 9;
}

.container {
    
    @apply mx-auto px-3 md:px-4;
    
    &--small {
        max-width: 1150px;
        @media (min-width: 1536px) {
            max-width: 1280px;
        }
    }
    &--post {
        max-width: 800px;
        @media (min-width: 1536px) {
            max-width: 950px;
        }
    }
}

.sectionHeader {
    
    @apply md:flex justify-between items-center text-center md:text-right;

    &__title {
        @apply font-darker text-gray-01 font-extrabold leading-none text-4xl lg:text-5xl xl:text-64 mb-10 md:mb-0;
    }

    &__description {
        @apply font-medium lg:font-bold text-18 md:w-7/12 lg:w-1/2;
    }

}


.tags {
    @apply flex flex-wrap mb-5;
    &__item {
        @apply inline-block px-4 py-2 rounded-full mr-5 text-sm font-bold;
        background: #F2FAFD;
        color: #1C8AB9;
    }
    &--large {
        .tags__item {
            @media (min-width: 1028px) {
                @apply text-lg px-5;
            }
        }
    }
}

@keyframes move-duck {
    20% { transform: rotate(-4deg); }
    40% { transform: rotate(3deg); }
    60% { transform: rotate(-2deg); }
    80% { transform: rotate(1deg); }
    100% { transform: rotate(0); }
}

.moveDuck {
    transform-origin: 50% 100%;
    animation: move-duck .5s ease forwards;
    & img{
        transform-origin: 50% 100%;
        &:hover {
            animation: move-duck .5s ease forwards;
        }
    }
}
