.header {
  @apply bg-white relative left-0 top-0 w-full z-20 p-3 md:px-10 2xl:py-5 sticky;
  // border: 1px solid rgb(255, 255, 255);
  // border: 1px solid rgba(255, 255, 255, 0.15);
  transition: all ease .3s;
  &[class*="sticky"] {
    box-shadow: 0 0 15px rgb(0 0 0 / 10%);
    @media (min-width: 993px){
      // transform: translateY(-65px);
    }
  }
  &[class*="show"] {
    // transform: translateY(0);
  }
  [class*="btn"]:last-child {
    margin-right: 0;
  }
  .navFixed {
    @media (max-width: 992px) {
      @apply fixed left-0 top-0 w-screen h-screen bg-black bg-opacity-95 z-50 flex items-center justify-center;
      height: calc(100vh + 10px);
      transform: translateX(-100%);
      transition: transform ease .4s;
    }
    ul {
      @media (max-width:992px) {
        @apply flex flex-col items-start text-2xl;
      }
    }
    li {
      @media (max-width:992px) {
        @apply mb-5;
      }
    }
    a {
      @media (max-width:992px) {
        @apply text-white;
        background-image: linear-gradient(#fff, #fff);
      }
    }
  }
  &[class*="menu-open"] {
    .navFixed {
      @media (max-width: 992px) {
        // transform: translateX(0);
      }
      
    }
    .btnMenu {
      span {
        @apply bg-white;
        transition: top 0.3s , transform 0.3s , opacity 0.3s;
        transition-delay: 0s , 0.3s , 0.3s;
        &:nth-child(1){
          top: 50%; 
          transform: translate(0,-50%) rotate(-45deg);
        }
        &:nth-child(2){
          opacity: 0; 
        }
        &:nth-child(3){
          top: 50%; 
          transform: translate(0,-50%) rotate(45deg);
        }
      }
    }
  }

  [id="logo"] {
    @apply mr-auto;
    img {
      max-height: 30px;
    }
  }
}

.wrap {
  @apply flex items-center justify-between pr-14;
  @media (min-width: 992px) {
    @apply pr-0;
  }
}

.mainMenu {
  @apply flex items-center font-semibold relative;
  font-size: 14px;

  li {
    @apply mx-3;

    &:hover {
      ul {
        @media (min-width: 992px) {
          @apply opacity-100 pointer-events-auto top-full;
        }
        @screen lg {
          top: 110%;
        }
      }
    }
  }

  a {
    @apply flex items-center;
    transition: all ease 0.3s;
    background-image: linear-gradient(#000, #000);
    background-position: 0 100%;
    background-repeat: no-repeat;
    background-size: 0 1px;
    padding-bottom: 2px;

    &:hover {
      background-size: 40px 1px;
    }
  }

  ul {
    @media (min-width: 992px) {
      @apply absolute top-1/2 right-0 lg:-right-5 w-52 px-5 py-3 opacity-0 pointer-events-none z-50;
      background: #fff;
      box-shadow: 0px 0px 7px rgb(0 0 0 / 10%);
      border-radius: 2px;
      border-radius: 2px;
      transition: all ease .3s;
      &:before {
        content: '';
        @apply absolute left-40 w-0 h-0;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-bottom: 10px solid #fff;
        top: -10px;
      }
    }
  
  
    li {
      @apply py-2;
      border-top: 1px solid #F3F3F3;
  
      a, button {
        @apply text-sm inline-flex items-center;
        color: #878787;
        background-size: 0 1px;
        &:hover {
          color: #333;
          background-size: 40px 1px;
          path {
            fill: #333;
          }
        }
      }
    }
  }

}

.wrapBtn {
  @apply flex items-center pl-3;
}

.profile__icon {
  @apply rounded-full relative overflow-hidden;
}

.btnMenu {
  @apply absolute top-2 right-3 z-50 w-10 h-10 cursor-pointer;
  @media (max-width: 992px) {
    display: block;
  }
  span {
    @apply absolute opacity-100;
    left: 25%;
    transform: translate(0,-50%);
    width: 18px;
    height: 2px;
    border-radius: 20px;
    background: #4E4E4E;
    transition: transform 0.3s , top 0.3s , opacity 0.9s;
    transition-delay: 0s , 0.3s , 0.3s;

    &:nth-child(1){
      top: 25%; 
    }
    &:nth-child(2){
      top: 50%; 
    }
    &:nth-child(3){
      top: 75%; 
    }
  }
}