.spotlight {
    @apply bg-black flex items-center justify-center text-white md:py-20 relative overflow-hidden;
    height: min(calc(100vh - 60px), 1500px);
    position: relative;  
    &__title {

        @apply text-center relative z-10 py-2 block;
        font-weight: 800;
        
        &:nth-child(1){
            @apply text-black text-5xl xl:text-75 2xl:text-90;
            -webkit-text-stroke: 2px #fff;
            // text-shadow:
            //     -2px -2px 0 #fff,  
            //     2px -2px 0 #fff,
            //     -2px 2px 0 #fff,
            //     2px 2px 0 #fff;
        }

        &:nth-child(2) {
            @apply text-3xl lg:text-44;
            font-family: 'Darker Grotesque', sans-serif;
        }

        &:nth-child(3) {
            @apply text-yellow-01 text-40 xl:text-75 uppercase;
            font-family: 'Darker Grotesque', sans-serif;
            font-weight: 900;
            transform: rotate(-4.58deg);
        }

    }
}
.btnWrap {
    @apply relative md:flex justify-center py-5 pt-10 md:py-20 2xl:pt-28 2xl:pb-10 text-center;
    a {
        @apply m-1 lg:mx-3 text-center md:inline-block leading-none relative;
        min-width: 260px;
        max-width: 280px;
        @media (min-width: 1024px) {
            min-width: 296px;
        }
        @screen 2xl {
            @apply py-5;
        }
        &:hover {
            &:before {
                display: none;
            }
            [class*="text"] {
                background-size: 43px 1px;
            }
            [class*="text"] {
                transform: translateX(20px);
            }
        }
    }
    [class*="text"] {
        @apply text-lg;
        transition: all ease .3s;
    }
}

@keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-webkit-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-moz-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-ms-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}

// .stars, .twinkling {
//   @apply absolute top-0 left-0 right-0 bottom-0 w-full h-full pointer-events-none;
// }

// .stars {
//   background:#000 url("../../../public/images/sky.png") repeat top center;
// }

// .twinkling{
//   background:transparent url("../../../public/images/twinkling.png") repeat top center;

//   -moz-animation:move-twink-back 200s linear infinite;
//   -ms-animation:move-twink-back 200s linear infinite;
//   -o-animation:move-twink-back 200s linear infinite;
//   -webkit-animation:move-twink-back 200s linear infinite;
//   animation:move-twink-back 200s linear infinite;
// }
@keyframes arrow {
    0% { opacity: 0;  transform: translateY(-40px); }
    15% { opacity: 1; transform: translateY(0); fill:#969696; }
    85% { opacity: 1; transform: translateY(0); fill:#969696; }
    100% { opacity: 0; transform: translateY(40px); fill:#626262; }
}
.scroll {
    @apply absolute left-1/2 bottom-0 md:bottom-5 pointer-events-none;
    transform: translateX(-50%);
    path {
        @screen xl {
            animation: arrow 4s infinite;
            &:last-child {
                animation-delay: .1s;
            }
        }
    }
}

// snow

.mainSnow {
	height: 100vh;
  position: absolute;
  left: 0;
	background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
	// overflow: hidden;
	filter: drop-shadow(0 0 10px white);
}

@function random_range($min, $max) {
  $rand: random();
  $random_range: $min + floor($rand * (($max - $min) + 1));
  @return $random_range;
}

.snow {
  $total: 300;
  position: absolute;
  // left: -200px;
  width: 10px;
  height: 10px;
  background: white;
  border-radius: 50%;

  @for $i from 1 through $total {
    $random-x: random(1000000) * 0.0001vw;
    $random-offset: random_range(-100000, 100000) * 0.0001vw;
    $random-x-end: $random-x + $random-offset;
    $random-x-end-yoyo: $random-x + calc($random-offset / 2);
    $random-yoyo-time: calc(random_range(30000, 80000) / 100000);
    $random-yoyo-y: $random-yoyo-time * 100vh;
    $random-scale: random(10000) * 0.0001;
    $fall-duration: random_range(10, 30) * 1s;
    $fall-delay: random(30) * -1s;

    &:nth-child(#{$i}) {
      opacity: random(10000) * 0.0001;
      transform: translate($random-x, -10px) scale($random-scale);
      animation: fall-#{$i} $fall-duration $fall-delay linear infinite;
    }

    @keyframes fall-#{$i} {
      #{percentage($random-yoyo-time)} {
        transform: translate($random-x-end, $random-yoyo-y) scale($random-scale);
      }

      to {
        transform: translate($random-x-end-yoyo, 100vh) scale($random-scale);
      }
    }
  }
}


