.spotlight {
    @apply bg-black flex items-center justify-center text-white md:py-20 relative;
    height: min(100vh, 1500px);
    &__title {

        @apply text-center relative z-10 py-2 block;
        font-weight: 800;
        
        &:nth-child(1){
            @apply text-black text-5xl lg:text-90;
            -webkit-text-stroke: 2px #fff;
            // text-shadow:
            //     -2px -2px 0 #fff,  
            //     2px -2px 0 #fff,
            //     -2px 2px 0 #fff,
            //     2px 2px 0 #fff;
        }

        &:nth-child(2) {
            @apply text-3xl lg:text-44;
            font-family: 'Darker Grotesque', sans-serif;
        }

        &:nth-child(3) {
            @apply text-yellow-01 text-40 lg:text-75 uppercase;
            font-family: 'Darker Grotesque', sans-serif;
            font-weight: 900;
            transform: rotate(-4.58deg);
        }

    }
}

.btnWrap {
    @apply relative md:flex justify-center py-5 pb-14 md:py-20 2xl:pt-28 2xl:pb-10 text-center;
    a {
        @apply m-1 lg:mx-3 text-center md:inline-block;
        min-width: 260px;
        max-width: 280px;
        @media (min-width: 1024px) {
            min-width: 296px;
        }
        @media (min-width: 1440px) {
            max-width: 350px;
        }
        &:hover {
            &:before {
                display: none;
            }
            [class*="text"] {
                background-size: 50px 1px;
            }
        }
    }
    [class*="text"] {
        @apply text-lg;
    }
}

@keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-webkit-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-moz-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-ms-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}

.stars, .twinkling {
  @apply absolute top-0 left-0 right-0 bottom-0 w-full h-full pointer-events-none;
}

.stars {
  background:#000 url("../../../public/images/sky.png") repeat top center;
}

.twinkling{
  background:transparent url("../../../public/images/twinkling.png") repeat top center;

  -moz-animation:move-twink-back 200s linear infinite;
  -ms-animation:move-twink-back 200s linear infinite;
  -o-animation:move-twink-back 200s linear infinite;
  -webkit-animation:move-twink-back 200s linear infinite;
  animation:move-twink-back 200s linear infinite;
}
@keyframes arrow {
    0% { opacity: 0;  transform: translateY(-40px); }
    35% { opacity: 1; transform: translateY(0); fill:#969696; }
    75% { opacity: 1; transform: translateY(0); fill:#969696; }
    100% { opacity: 0; transform: translateY(40px); fill:#626262; }
}
.scroll {
    @apply absolute left-1/2 bottom-14 pointer-events-none;
    transform: translateX(-50%);
    // path {
    //     animation: arrow 3s infinite;
    //     &:last-child {
    //         animation-delay: .3s;
    //     }
    // }
}