.section {
    @apply text-center md:text-left bg-gray-01 text-white py-10 lg:py-20;

    h2 {
        @apply text-4xl xl:text-64 font-black font-darker leading-none mb-6;
    }

    p {
        @apply mb-8;
    }

    figure {
        @apply m-auto mt-10;
        max-width: 250px;
        @screen md {
            @apply max-w-full;
        }
    }

}

.form {

    @apply flex m-auto md:m-0;
    border: 2px solid #626262;
    border-radius: 5px;
    max-width: 385px;
    form {
        @apply flex items-center w-full;
    }
    input {
        @apply flex-1 bg-transparent px-4 py-3;
        &::placeholder {
            color: #626262;

        }
    }
    button{
        @apply w-10 h-10 flex items-center justify-center;
    }
}