.Book_Wrap {
  @apply h-auto px-8 py-9;
  width: 100%;
  background: #242424;
  color: #FFFFFF;

  @screen lg {
    width: 283px;
  }

  .Book_Title {
    @apply font-bold text-xl mb-2;
  }

  .Book_Date_Wrap {
    @apply flex font-bold text-sm gap-x-3 mb-4;
    color: #AAAAAA;
  }

  .calender {
    @apply font-extrabold text-sm flex mb-8;
    span {
      @apply inline-block mr-5;
    }
    .icon {
      @apply mr-2.5 my-auto;
    }
    .location {
      @apply uppercase;
    }
  }

  .Book_Now {
    @apply w-full flex justify-center items-center text-lg font-extrabold mb-6;
    height: 3.75rem;
    border-radius: 10px;
    background: #5D18F0;
    &:hover {
      background: blueviolet;
    }
  }

  .share {
    @apply w-full flex justify-center items-center text-lg font-extrabold;
    height: 3.75rem;
    border-radius: 10px;
    background: #545356;
    &:hover {
      background: blueviolet;
    }
  }
}