.cover {
  @apply w-full h-screen flex flex-row justify-center items-center z-50 fixed;
  background-color: rgba($color: #000000, $alpha: 0.6);
}
.card {
  @apply p-6 mx-4 bg-white;
  width: 591px;
  height: 270px;
  border-radius: 14px;
}
.topbar {
  @apply flex justify-between items-center font-bold text-xl ;
}
.link {
  @apply p-2;
  color: #adadad;
  width: 400px;
  background-color: #f8fafc;
}
.facebook {
  margin: 10px 10px;
  cursor: pointer;
  svg:hover {
    fill: #0e76a8;
  }
}
.instagram {
  margin: 10px 10px;
  cursor: pointer;
  svg:hover {
    fill: #3f729b;
  }
}
.twitter {
  margin: 10px 10px;
  cursor: pointer;
  svg:hover {
    fill: #00acee;
  }
}
.close {
  cursor: pointer;
  width: 40px;
  height: 40px;
  // background-color: red;
  display: flex;
  justify-content: center;
  align-items: center;
}
.icons {
  margin-right: 40px;
  margin-top: 22px;
}
.linkbox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 48px;
  margin-top: 34px;
  background-color: #f8fafc;
  padding-left: 10px;
  padding-right: 10px;
}
.copy {
  font-size: 18px;
  color: #4a81ef;
  font-weight: 600;
  cursor: pointer;
}
@media only screen and (max-width: 420px) {
  .link {
    width: 200px;
  }
  .iconset {
    overflow-x: scroll;
    display: flex;
    width: 100%;
    margin-top: 10px;
  }
  .iconset::-webkit-scrollbar{
    display: none;
  }
  .card {
    width: 360px;
  }
  .icons {
    margin-right: 20px;
    margin-top: 0px;
  }
  .iconimage{
    width: 40px;
  }
  .linkbox{
    margin-top: 5px;
  }
  .card{
    height: auto;
    padding: 20px;
  }
}
