.h_40px {
    height: 38px;
}
.min_w_10 {
    min-width: 160px;
}
.imagepreview {
    // background-color: red;
    section {
        display: none;
    }
    &:hover {
        section {
            display: flex;
        }
    }
}
