.color_blue_910 {
  color: #25213b;
}
.oddBg:nth-child(odd) {
  background-color: #f5f5f5;
}
.successBg {
  background-color: #d7defa;
}
.warningBg {
  background-color: #ffe7ce;
}
.dangerBg {
  background-color: #fdedef;
}
.draftedBg {
  background-color: #e7e7e7;
}
.linkBg {
  background-color: #d7defa;
}
.publishedBg {
  background-color: #e5f9e5;
}
.successDot {
  background-color: #3e66fb;
}
.warningDot {
  background-color: #fd870b;
}
.dangerDot {
  background-color: #e8505b;
}
.draftedDot {
  background-color: #6c757d;
}
.publishedDot {
  background-color: #007f00;
}
.successText {
  color: #3e66fb;
  font-size: 14px;
  font-weight: 600;
}
.warningText {
  color: #fd870b;
  font-size: 14px;
  font-weight: 600;
}
.dangerText {
  color: #e8505b;
  font-size: 14px;
  font-weight: 600;
}
.draftedText {
  color: #6c757d;
  font-size: 14px;
  font-weight: 600;
}
.linkText {
  color: #3e66fb;
  font-size: 14px;
  font-weight: 600;
}
.publishedText {
  color: #007f00;
  font-size: 14px;
  font-weight: 600;
}

.navigation {
  height: 65px;
}
