.section {

    h2 {
        
        @apply text-25 font-extrabold;
        color: #353535;
    }
}

.widget {

    @apply p-5 md:p-11;
    background: #FCEBE6;

}

.details {
    @apply md:flex mb-7 items-center;
    [class*="authorDetails__icon"] {
        max-width: 80px;
        max-height: 80px;
        @media (min-width: 768px) {
            max-width: 100px;
            max-height: 100px;
        }
        img{
   
            width: 80px;
            height: 80px;
            @media (min-width: 768px) {
                max-width: 100px;
                max-height: 100px;
            }
        }
        circle {
            stroke-width: 2px;
        }
    }
}

.stats {
    background: #FFDFD6;
    @apply flex mt-5 md:mt-0 md:ml-10;
}
.statsItem {
    @apply flex-1 text-center p-4;
    strong, span {
        @apply block;
    }
}

.profileLink{
    @apply font-bold;
    color: #404852;
    &:hover {
        color: #000;
        background-size: 30px 1px;
    }
}
.description{
    @apply text-xs;
}