.header {
  @apply my-20;
  ul {
    @apply flex justify-center items-center;

    li {
      @apply mr-3 py-2 px-7 rounded-full;
      font-weight: 700;
      cursor: pointer;
      &:last-child {
        margin-right: 0;
      }
    }
  }
}

.content {
  @apply mb-20;
  max-width: 1440px;
}

.content__child {
  @apply flex justify-center items-center;
}

.content__right {
  @apply w-6/12 flex justify-center items-center;
  height: 500px;
  background: cadetblue;
  img {
    max-width: 100%;
    display: block;
    max-height: 100%;
  }
}

.content__left {
  @apply w-6/12;
  padding-right: calc(var(--order) * 150px);
  padding-left: calc((var(--order) - 1) * -150px);
  h3 {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 15px;
    text-decoration: underline;
    line-height: 1.3;
    padding-left: calc(var(--order) * 50px);
    padding-right: calc((var(--order) - 1) * -50px);
    cursor: pointer;
  }
  div {
    padding-left: calc(var(--order) * 50px);
    padding-right: calc((var(--order) - 1) * -50px);
    margin-bottom: 20px;
    line-height: 1.8;
  }
  a {
    margin-left: calc(var(--order) * 50px);
    margin-right: calc((var(--order) - 1) * -50px);
    color: #f13e5d;
    background: #ededed;
  }
}
